<p>Welcome to Saiyan Weigh-In, your home for tracking your weight loss and improving your overall fitness level!</p>

<p>On this website, you can enter your weight for today or any day in the past and see your progress over time. You may also join weight loss teams with other users to track everyone's total progress.</p>

<p>As a way to further keep track of your general fitness level, you can regularly enter the number of push-ups you can complete in a 30 second period and watch it increase over time! Based on your height, weight, and performance in push-up heats, you may calculate your power level; a general rating that will increase as you get stronger, lose weight, and get more fit!</p>