<p>Welcome to Saiyan Weigh-In, your home for tracking your weight loss and improving your overall fitness level!</p>

<p>Use this application to enter your weight for today or any day in the past and see your progress over time. You may also join weight loss teams with other users to track everyone's total progress.</p>

<p>As a way to further keep track of your general fitness level, you can regularly enter the number of push-ups you can complete in a 30 second period and watch it increase over time! Based on your height, weight, and performance in push-up heats, you may calculate your power level; a general rating that will increase as you get stronger, lose weight, and get more fit!</p>

<p>Saiyan Weigh-In promotes the practice of weighing yourself every single day. Anyone who has battled with weight loss before can attest that doing this can be very defeating as our weight naturally fluctuates a lot from day to day, and can often increase even after a day of adhering to your diet. However, Saiyan Weigh-In makes use of logging your moving averages of weight, push ups, and power level so that downward or upward trends can be more easily observed and provide you with the comfort that your efforts are not in vain when you have a bad day on the scale or in the gym.</p>

<p><%= link_to "Register", new_user_path %> or <%= link_to "Log In", new_session_path %> now, and start growing your power today!</p>

<p>Log in as a guest and explore the site!</p>
<p>
Username: Guest<br>
Password: password
</p>